.main-component {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;

}

.component-sidebar {
  display: flex;
  flex-direction: column;
  width: 160px;
  height: 100%;
  background-color: red;
}

#editor-canvas {
  background-color: blue;
  height: 100%;
  width: 100%;
}

.button-component {
  height: 50px;
  width: 100px;
  background-color: green;
  position: absolute;
}

.button-component-sidebar {
  height: 50px;
  width: 100px;
  background-color: green;
  position: relative;
}

.label-component-sidebar {
  height: 50px;
  width: 100px;
  background-color: pink;
  position: relative;
}


.label-component {
  height: 50px;
  width: 100px;
  background-color: pink;
  position: absolute;
}
